# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 11a51c38d450c61864d3dfc8900d4c16f830f310ec64cd790c0e6e692fd227180887ec862eda9f988810c0eea37b32f0780bbb77df43b5825ea0e8ba279e080f

test:
  secret_key_base: 825c3dc65271b80201629bbea05b666f7b6a1ab7ba400eb742c9e273e05ad815ef2fe7ce992c8dbc6beb6a2fea52112c0995c21caecb4062fc9a031399505bb4

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
